<!DOCTYPE html>
<html>

<head>
    <title>Book Library</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        .navbar {
            background-color: #0044cc;
            color: white;
            padding: 15px;
            display: flex;
            justify-content: space-between;
        }

        .navbar a {
            color: white;
            text-decoration: none;
            padding: 0 15px;
            font-weight: bold;
        }

        .container {
            width: 80%;
            margin: auto;
            background: white;
            padding: 20px;
            margin-top: 20px;
            border-radius: 5px;
        }

        .btn {
            padding: 8px 12px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .btn-borrow {
            background-color: green;
            color: white;
        }

        .btn-return {
            background-color: red;
            color: white;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th,
        td {
            padding: 10px;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #0044cc;
            color: white;
        }
    </style>
    <meta name="turbo-method-override" content="true">

</head>

<body>

    <div class="navbar">
        <div>
            <a href="<%= books_path %>">Book Library</a>
            <%= link_to 'Profile', user_profile_path %>

        </div>
        <div>
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>

        </div>
    </div>

    <div class="container">
        <%= yield %>
    </div>

</body>

</html>